body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(circle, rgba(255,214,0,1) 42%, rgba(255,188,0,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.video_player{
    margin: 2% auto;
    width: 80%;
    height: auto;
    position: relative;
    border-radius: 15px;
    /* filter: drop-shadow(0 0 2rem white); */
}

.video_player .main_video{
    object-fit: cover;
    box-shadow: 0px 0px 1vw black;
    width: 100%;
    z-index: -5;
    border-radius: 15px;
}
/* hide native control in fullscreen mode */ 
.video_player .main_video::-webkit-media-controls{
    display:none !important;
}

.video_player .thumbnail_video{
    object-fit: cover;
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 15%;
    height: auto;
    border: solid #FFEA00 2px;
    will-change: transform;
    opacity: 0;
    pointer-events: none; /* prevent to click to pause the video */ 
    will-change: opacity, transform;
}

.control_container{
    will-change: opacity;
}

/* fade animation for thumbnail video/time and for control container*/

.video_player .thumbnail_video.active, .thumbnail_video_time.active, .control_container.active{
    animation: fade 0.15s ease both reverse;
}
.video_player .thumbnail_video.inactive, .thumbnail_video_time.inactive, .control_container.inactive{
    animation: fade 0.15s ease both;
}

/* text time bellow thumbnail video */
.thumbnail_video_time{
    position: absolute;
    bottom: 72px;
    left: 0;
    content: '';
    width: 6%;
    height: 4%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-16px, -1px);
    z-index: 1;
    will-change: transform;
    border: 0.5px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* prevent to click*/ 
}

/* linear gradient bellow controllers */
.control_shadow{
    position: absolute;
    bottom: 4px;
    opacity: 0.9;
    background: linear-gradient( rgba(0, 0, 0, 0), black);
    width: 100%;
    height: 70px;
    pointer-events: none;
    border-radius: 0 0 15px 15px;

}

/* Play pause button */
.play_pause_button{
    position: absolute;
    left: 30px;
    bottom: 0;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    user-select: none;
    width: 60px; /* icon height + 20 + 20 */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.fade-out{
    animation: fade 0.15s ease both;
}
@keyframes fade{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* volume button */
.volume_button{
    position: absolute;
    left: 90px; /* .play_pause_button left + .play_pause_button width */ 
    bottom: 0px;
    width: 40px; /* .volume_icon height + 10 + 10 */ 
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: 0;
}
    /* mute bar */
.volume_button_muted{
    width: 32px;
    height: 2px;
    background: white;
    transform: translate(5px, -11px) rotate(45deg) scaleX(0);
    z-index: 1;
    transform-origin: top left;
    will-change: opacity, transform;
}
    /* muted bar shadow */
.volume_button_muted::after{
    position: absolute;
    content: '';
    width: 32px;
    height: 1px;
    background: black;
    transform: translate(-16px, -1px);
    z-index: -1;
    opacity: 0.6;
    will-change: opacity, transform;
}

.volume_button_muted.active{
    animation: volume_muted 0.3s cubic-bezier(0.8, 0, 0.2, 1) both;
}
.volume_button_muted.inactive{
    animation: volume_muted 0.3s cubic-bezier(0.8, 0, 0.2, 1) both reverse;
}

@keyframes volume_muted{
    0% {transform: translate(5px, -11px) rotate(45deg) scaleX(0);}
    100% {transform: translate(5px, -11px) rotate(45deg) scaleX(1);}
}

/* volume slider */
.volume_slider_container{
    position: absolute;
    left: 130px; /* .volume_slider width + volume_slider left */
    bottom: 0px;
    height: 50px;
    width: 80px; /* .volume_slider_bar width + .volume_slider_set_volume_min width + .volume_slider_set_volume_max*/
    cursor: pointer;
    user-select: none;
}
.volume_slider_min{
    position: absolute;
    height: 50px;
    width: 5px;
    cursor: pointer;
}
.volume_slider_max{
    position: absolute;
    left: 75px; /* .volume_slider_bar width + .volume_slider_set_volume_min width */ 
    height: 50px;
    width: 5px;
    cursor: pointer;
}
.volume_slider_container .volume_slider_bar_container{
    position: absolute;
    left: 5px; /* .volume_slider_set_volume_min width */ 
    height: 50px;
    width: 70px;
    cursor: pointer;
}
.volume_slider_bar_container .volume_slider_bar{
    position: absolute;
    top: calc(50% - 1.25px); /* 50% - height/2 */
    border-radius: 60px;
    height: 2.5px;
    width: 70px;
    background: #fff;
    outline: 0;
    cursor: pointer;
}
.volume_slider_bar_container .volume_slider_bar_pin{
    position: absolute;
    left: 0px; 
    transform: translateX(30px); /* 0 for min volume to 60 for max volume */
    top: calc(50% - 5px); /* 50% - height/2 */
    border-radius: 60px;
    height: 10px;
    width: 10px;
    background: #FFEA00;
    outline: 0;
    cursor: pointer;
    will-change: transform;
}
.volume_slider_bar_container .volume_slider_bar_level{
    position: absolute;
    top: calc(50% - 1.25px); /* 50% - height/2 */
    border-radius: 60px;
    height: 2.5px;
    width: 30px; /* 0 for min volume to 60 for max volume */
    background: #FFEA00;
    outline: 0;
    cursor: pointer;
    transform-origin: left;
}
/* seekbar */
.seek_bar_container{
    position: absolute;
    left: 2.5%;
    bottom: 50px;
    width: 95%;
    height: 15px;
    cursor: pointer;
    user-select: none;
}
.seek_bar_pin{
    position: absolute;
    left: 0px;
    bottom: -4px;
    border-radius: 60px;
    height: 0px;
    width: 0px;
    background: #FFEA00;
    outline: 0;
    z-index: 1;
    cursor: pointer;
    will-change: opacity, transform;
}
.seek_bar_current{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px; /* 6px when active */
    background: #FFEA00;
    border-radius: 60px;
    z-index: 1;
    cursor: pointer;
    transform: scaleX(0);
    transform-origin: 0 0;
    will-change: opacity, transform;
}
.seek_bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px; /* 6px when active */
    background: black;
    opacity: 0.2;
    border-radius: 60px;
    cursor: pointer;
}
/* seek bar animation */
.seek_bar.active, .seek_bar_current.active{
    animation: seek_bar_active 0.1s ease both;
}
.seek_bar.inactive, .seek_bar_current.inactive{
    animation: seek_bar_active 0.1s ease both reverse;
}
@keyframes seek_bar_active{
    0% {height: 3px;}
    100% {height: 6px;}
}
/* pin scale animation */
.seek_bar_pin.active{
    animation: scale_in 0.1s ease both;
}
.seek_bar_pin.inactive{
    animation: scale_in 0.1s ease both reverse;
}

@keyframes scale_in{
    0% {width: 0px; height: 0px} /* change width and height even there's less performance insteed of scale because I also need to change translateX in Js*/ 
    100% {width: 15px; height: 15px}
}



/* video time */
.video_show_time{
    position: absolute;
    left: 210px; /* .volume_slider_container width + volume_slider_container left */
    bottom: 0px;
    padding-left: 10px;
    height: 50px;
    width: 130px; /* .volume_slider_bar width + .volume_slider_set_volume_min width + .volume_slider_set_volume_max*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: white;
}


/* fullscreen */
.fullscreen_button {
    position: absolute;
    right: 30px;
    bottom: 0;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    user-select: none;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


/* luminosity */

    /* filters */
.luminosity_light_filter{
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none; /* prevent to click*/ 
    user-select: none;
    z-index: 99999;
    will-change: opacity;
}
.luminosity_blue_light_filter{
    width: 100%;
    height: calc(100% - 5px);
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 0, 0.075);
    pointer-events: none; /* prevent to click*/ 
    user-select: none;
    border-radius: 15px;
    opacity: 0;
    will-change: opacity;
}
.luminosity_blue_light_filter.active{
    animation: fade 0.1s ease both reverse;
}

.luminosity_blue_light_filter.inactive{
    animation: fade 0.1s ease both;
}

    /* button to open menu */
.luminosity_button{
    position: absolute;
    right: 90px;
    bottom: 0;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    user-select: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


    /* menu and content */
.luminosity_menu_container{
    position: absolute;
    right: 35px;
    bottom: 80px;
    width: 160px;
    height: 70px;
    background: rgba(0, 0, 0, 0.5);
    user-select: none;
    border-radius: 35px;
    color: white;
    font-size: 0.7rem;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

/* prevent to click*/
.luminosity_menu_container.prevent_click{
    pointer-events: none; 
    user-select: none;
    cursor: default;
}

.luminosity_menu_container.active{
    animation: fade 0.15s ease both reverse;
}

.luminosity_menu_container.inactive{
    animation: fade 0.15s ease both;
}

    /* light menu and content*/
.luminosity_menu_container .luminosity_menu_light{
    padding: 16px 15px 5px 15px;
    display: flex;
}

.luminosity_menu_container .luminosity_menu_light .luminosity_light_bar_container{
    position: absolute;
    top: 14.75px;
    left: 75px;
    height: 20px;
    width: 70px;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.luminosity_menu_container .luminosity_menu_light .luminosity_light_bar{
    position: absolute;
    border-radius: 60px;
    height: 2.5px;
    width: 70px;
    background: #fff;
    outline: 0;
    cursor: pointer;

}

.luminosity_menu_container .luminosity_menu_light .luminosity_light_bar_level{
    position: absolute;
    border-radius: 60px;
    height: 2.5px;
    width: 70px; /* 0 for min volume to 60 for max volume */
    background: #FFEA00;
    outline: 0;
    cursor: pointer;
    transform-origin: left;
    z-index: 1;
    transform: scaleX(0);
    will-change: transform;
}

.luminosity_menu_container .luminosity_menu_light .luminosity_light_bar_pin{
    position: absolute;
    transform: translateX(0px); /* 0 for min volume to 60 for max volume */
    border-radius: 60px;
    height: 10px;
    width: 10px;
    background: #FFEA00;
    outline: 0;
    cursor: pointer;
    will-change: transform;
}

    /* blue light menu and content*/
.luminosity_menu_blue_light_filter{
    padding: 5px 15px 16px 15px;
}

.luminosity_blue_light_filter_switch_container{
    position: absolute;
    bottom: 14.75px;
    left: 110px;
    height: 20px;
    width: 35px;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.luminosity_blue_light_filter_switch{
    height: 10px;
    width: 26px;
    outline: 0;
    background: white;
    border-radius: 900px;
    cursor: pointer;
    align-items: center;
}
.luminosity_blue_light_filter_switch_pin{
    position: absolute;
    bottom: 2.75px;
    height: 15px;
    width: 15px;
    outline: 0;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    border-radius: 900px;
    cursor: pointer;
    align-items: center;
    transform: translateX(-12px);
    
    will-change: transform;
}

.luminosity_blue_light_filter_switch_pin.active{
    animation: blue_light_switch_on 0.15s cubic-bezier(0.8, 0, 0.2, 1) both;
}

.luminosity_blue_light_filter_switch_pin.inactive{
    animation: blue_light_switch_on 0.15s cubic-bezier(0.8, 0, 0.2, 1) both reverse;
}

@keyframes blue_light_switch_on{
    0% {transform: translateX(-12px)}
    100% {transform: translateX(0)}
}

.luminosity_blue_light_filter_switch.active{
    animation: blue_light_switch_color 0.15s cubic-bezier(0.8, 0, 0.2, 1) both;
}

.luminosity_blue_light_filter_switch.inactive{
    animation: blue_light_switch_color 0.15s cubic-bezier(0.8, 0, 0.2, 1) both reverse;
}


@keyframes blue_light_switch_color{
    0% {background: white;}
    100% {background: #FFEA00;}
}


/* all icons animation */
.video_player_icons{
    position: absolute;
    height: 18px;
    fill: white;
    user-select: none;
    will-change: opacity;
}

.play_pause_button:hover, .volume_button:hover, .luminosity_button:hover, .fullscreen_button:hover{
    animation: icon_scale 0.2s ease both;
}

@keyframes icon_scale{
    0% {transform: scale(1)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
}